body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1f2937;
    height: 100vh;
    margin: auto;
}

#app {
    max-width: 1200px;
}

.container {
    width: 90%;
    margin: 0 auto;
}